In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [42]:
df2 = pd.read_csv("C:/Users/Elechiguerra/Desktop/IRONHACK-DataScience/Unit5-EDA/project2/data_project2/df_final_web_data_pt_2.txt")

In [43]:
df1= pd.read_csv("C:/Users/Elechiguerra/Desktop/IRONHACK-DataScience/Unit5-EDA/project2/data_project2/df_final_web_data_pt_1.txt")

In [44]:
df_merged = pd.merge(df1, df2, on= "client_id")
df_merged

,client_id,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
0,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,confirm,2017-06-08 16:46:39
1,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,step_3,2017-06-08 16:46:08
2,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,step_2,2017-06-08 16:45:09
3,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,step_1,2017-06-08 16:44:30
4,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,start,2017-06-08 16:44:07
...,...,...,...,...,...,...,...,...,...
160781,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18
160782,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18
160783,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18
160784,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18
160785,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18

In [32]:
df3= pd.read_csv("C:/Users/Elechiguerra/Desktop/IRONHACK-DataScience/Unit5-EDA/project2/data_project2/df_final_demo.txt")

In [33]:
df3

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [34]:
df4= pd.read_csv("C:/Users/Elechiguerra/Desktop/IRONHACK-DataScience/Unit5-EDA/project2/data_project2/df_final_experiment_clients.txt")

In [35]:
df4

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [38]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160786 entries, 0 to 160785
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   client_id       160786 non-null  int64
 1   visitor_id_x    160786 non-null  object
 2   visit_id_x      160786 non-null  object
 3   process_step_x  160786 non-null  object
 4   date_time_x     160786 non-null  object
 5   visitor_id_y    160786 non-null  object
 6   visit_id_y      160786 non-null  object
 7   process_step_y  160786 non-null  object
 8   date_time_y     160786 non-null  object
dtypes: int64(1), object(8)
memory usage: 11.0+ MB

In [40]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [41]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB